.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 957px;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  position: relative;
}

.desktop .div-cont {
  background-color: #ffffff;
  width: 1440px;
  height: 920px;
  position: relative;
}

.desktop .cont-f {
  display: flex;
  flex-direction: column;
  width: 1220px;
  align-items: flex-start;
  gap: 64px;
  padding: 64px 0px 0px;
  position: absolute;
  top: 80px;
  left: 110px;
}

.desktop .reply-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .reply-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.app-bg {
  background-image: url(./img/desktop-8.png);
  background-size:100% 100%;
}

.desktop .div {
  background-color: #ffffff59;
  background-size: cover;
  background-position: 50% 50%;
  width: 1440px;
  height: 957px;
  position: relative;
}

.desktop .main-area {
  display: flex;
  flex-direction: column;
  width: 1220px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 196px;
  padding: 196px 0px 0px;
  position: absolute;
  top: 80px;
  left: 110px;
}

.desktop .intro {
  display: flex;
  align-items: center;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text {
  display: flex;
  flex-direction: column;
  width: 452px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.desktop .button-compact {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 6px;
}

.desktop .bpm-16-oss {
  position: relative;
  align-self: stretch;
  font-family: var(--body-primary-medium-16-pt-font-family);
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  color: var(--onsurfacesecondary);
  font-size: var(--body-primary-medium-16-pt-font-size);
  text-align: center;
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  line-height: var(--body-primary-medium-16-pt-line-height);
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .bpm-16-ost {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-primary-medium-16-pt-font-family);
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  color: var(--onsurfacetretiary);
  font-size: var(--body-primary-medium-16-pt-font-size);
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  line-height: var(--body-primary-medium-16-pt-line-height);
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .button-large {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: var(--brandprimary);
  border-radius: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-large:hover {
  background-color: var(--brandsecondary);
}

.desktop .hsm-20-obp {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-secondary-medium-20-pt-font-family);
  font-weight: var(--heading-secondary-medium-20-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-secondary-medium-20-pt-font-size);
  letter-spacing: var(--heading-secondary-medium-20-pt-letter-spacing);
  line-height: var(--heading-secondary-medium-20-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-medium-20-pt-font-style);
}

.desktop .banner {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 298px;
  object-fit: cover;
}

.desktop .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .c-news {
  width: 1220px;
  justify-content: flex-end;
  gap: 64px;
  padding: 64px 0px 0px;
  position: absolute;
  top: 80px;
  left: 110px;
}

.desktop .title {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .news-list {
  display: flex;
  flex-wrap: wrap;
  width: 1220px;
  align-items: flex-start;
  gap: 16px 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .main-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .app-window {
  display: flex;
  width: 1220px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 88px;
  left: 110px;
}

.desktop .app-apps {
  display: flex;
  flex-direction: column;
  height: 856px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--surfacesecondary);
  border-radius: 8px;
  overflow: hidden;
}

.desktop .apps-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.desktop .app-main {
  display: none;
  flex-direction: column;
  width: 750px;
  height: 856px;
  align-items: center;
  gap: 12px;
  padding: 0px 0px 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}



.desktop .app-schedule {
  display: flex;
  flex-direction: column;
  height: 856px;
  align-items: center;
  gap: 12px;
  padding: 0px 0px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.desktop .app-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--brandquaternary);
  border-radius: 4px;
  overflow: hidden;
}

.desktop .profile-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .profile-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.desktop .icon-profile-circle {
  position: relative;
  width: 32px;
  height: 32px;
}

.desktop .apps-list-ex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--surfacesecondary);
  border-radius: 1px;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--onsurfacequinary);
}

.desktop .apps-list-ex:hover {
  background-color: var(--onsurfacequinary);
}

.desktop .htsb-16-osp {
  width: fit-content;
  font-weight: var(--heading-tretiary-semibold-16-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-tretiary-semibold-16-pt-font-size);
  line-height: var(--heading-tretiary-semibold-16-pt-line-height);
  white-space: nowrap;
  position: relative;
  font-family: var(--heading-tretiary-semibold-16-pt-font-family);
  letter-spacing: var(--heading-tretiary-semibold-16-pt-letter-spacing);
  font-style: var(--heading-tretiary-semibold-16-pt-font-style);
}

.desktop .cpm-12-osq {
  position: relative;
  width: fit-content;
  font-family: var(--caption-primary-medium-12-pt-font-family);
  font-weight: var(--caption-primary-medium-12-pt-font-weight);
  color: var(--onsurfacequaternary);
  font-size: var(--caption-primary-medium-12-pt-font-size);
  letter-spacing: var(--caption-primary-medium-12-pt-letter-spacing);
  line-height: var(--caption-primary-medium-12-pt-line-height);
  white-space: nowrap;
  font-style: var(--caption-primary-medium-12-pt-font-style);
}

.desktop .osr-14-osp {
  align-self: stretch;
  font-weight: var(--body-secondary-regular-14-pt-font-weight);
  font-size: var(--body-secondary-regular-14-pt-font-size);
  line-height: var(--body-secondary-regular-14-pt-line-height);
  position: relative;
  font-family: var(--body-secondary-regular-14-pt-font-family);
  color: var(--onsurfaceprimary);
  letter-spacing: var(--body-secondary-regular-14-pt-letter-spacing);
  font-style: var(--body-secondary-regular-14-pt-font-style);
}

.desktop .app-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--onsurfacequinary);
}

.desktop .main-title {
  gap: 10px;
  border-color: var(--onsurfacequinary);
  display: flex;
  align-items: center;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.desktop .main-calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 12px 8px;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
}

.desktop .timer-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--surfacesecondary);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--onsurfacequinary);
}

.login-window {
  display: flex;
  width: 1440px;
  height: 900px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  position: relative;
}

.login-window .login-container {
  display: none;
  flex-direction: column;
  width: 380px;
  align-items: center;
  gap: 64px;
  padding: 64px 32px 32px;
  position: relative;
  background-color: var(--surfacesecondary);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--onsurfacequinary);
}

.desktop .form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .calendar-day {
  display: flex;
  flex-direction: column;
  width: 174.5px;
  height: 100px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  background-color: var(--brandquaternary);
  border-radius: 8px;
  overflow: hidden;
}

.desktop .calendar-day-date {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .day-priority {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -1px;
}

.desktop .priority-red {
  background-color: var(--functionalerrorprimary);
  position: relative;
  width: 34.5px;
  height: 4px;
  border-radius: 4px;
}

.desktop .priority-gray {
  background-color: var(--surfacequaternary);
  position: relative;
  width: 34.5px;
  height: 4px;
  border-radius: 4px;
}

.desktop .priority-yellow {
  background-color: var(--functionalwarningprimary);
  position: relative;
  width: 34.5px;
  height: 4px;
  border-radius: 4px;
}

.desktop .priority-green {
  background-color: var(--functionalsuccessprimary);
  position: relative;
  width: 34.5px;
  height: 4px;
  border-radius: 4px;
}

.desktop .schedule-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.desktop .schedule-task {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--surfacesecondary);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--onsurfacequinary);
}

.desktop .schedule-task:hover {
  background-color: var(--onsurfacequinary);
}

.desktop .schedule-title {
  justify-content: space-between;
  border-color: #ede5ff;
  display: flex;
  align-items: center;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.desktop .task-content {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.desktop .task-priority {
  position: relative;
  align-self: stretch;
  width: 40px;
  margin-left: -36px;
  background-color: var(--functionalerrorprimary);
  transform: rotate(-90deg);
}

.desktop .big-news {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 808px;
  height: 480px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url(./img/big-news.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .wide-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--surfacesecondary);
}

.desktop .wide-news-content {
  cursor: pointer;
  display: flex;
  height: 128px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.desktop .wide-news-image {
  position: relative;
  align-self: stretch;
  width: 275px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url(./img/frame-45-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .wide-news-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.desktop .container-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .merger {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 480px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.desktop .medium-news {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url(./img/medium-news.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .small-news {
  display: flex;
  flex-direction: column;
  height: 128px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--surfacesecondary);
  border-radius: 8px;
  overflow: hidden;
}

.desktop .line {
  position: relative;
  width: 1px;
  height: 128px;
  object-fit: cover;
}

.desktop .button-large-2 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--onsurfacequinary);
  border-radius: 8px;
}

.desktop .button-large-2:hover {
  background-color: var(--surfacetretiary);
}

.desktop .hsm-20-osp {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-secondary-medium-20-pt-font-family);
  font-weight: var(--heading-secondary-medium-20-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-secondary-medium-20-pt-font-size);
  letter-spacing: var(--heading-secondary-medium-20-pt-letter-spacing);
  line-height: var(--heading-secondary-medium-20-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-medium-20-pt-font-style);
}

.desktop .achievements {
  position: relative;
  width: 599px;
  height: 276px;
}

.desktop .stat-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.desktop .stat-2 {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 25px;
  left: 439px;
}

.desktop .stat-3 {
  position: absolute;
  width: 216px;
  height: 216px;
  top: 60px;
  left: 200px;
}

.desktop .frame-4 {
  display: flex;
  flex-direction: column;
  width: 452px;
  align-items: center;
  gap: 12px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.desktop .footer {
  display: flex;
  width: 1440px;
  height: 120px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 110px;
  left: 0;
  background-color: #eee5ff;
}

.desktop .glb {
  position: absolute;
  top: 2553px;
}

.desktop .ctcs {
  position: absolute;
  top: 835px;
}

.desktop .fib {
  position: relative;
  top: 64px;
}

.desktop .footer-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .merger-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .logo {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group {
  position: relative;
  width: 31.45px;
  height: 33.34px;
  margin-top: -0.34px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.desktop .needed {
  display: inline-flex;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .social {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-compact {
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
}

.desktop .img-2 {
  position: relative;
  width: 28px;
  height: 28px;
}

.desktop .img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.desktop .about-container {
  display: flex;
  flex-direction: column;
  width: 1220px;
  align-items: center;
  gap: 64px;
  padding: 64px 0px 0px;
  position: absolute;
  top: 80px;
  left: 110px;
}

.desktop .about-text-block-ext {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 18px 110px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgroundbackground);
  border-radius: 0px 0px 4px 4px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: var(--surfaceprimary);
}

.desktop .logo-2 {
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
}

.desktop .navigation {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  padding: 0px 12px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-medium {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-medium:hover {
  background-color: var(--onsurfacequinary);
}

.desktop .button-medium-2 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--onsurfacequinary);
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--surfacetretiary);
}

.desktop .button-medium-2:hover {
  background-color: var(--onsurfacequaternary);
}

.desktop .button-medium-3 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--onsurfaceprimary);
  border-radius: 6px;
}

.desktop .button-medium-3:hover {
  background-color: var(--onsurfacesecondary);
}

.desktop .button-medium-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--surfacesecondary);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--onsurfacequinary);
}

.desktop .big-logo {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .big-logo-text {
  position: relative;
  width: fit-content;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 600;
  color: var(--onsurfaceprimary);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .contacts-info {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .cont-inf-box {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .reply {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.desktop .input-large {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px 12px 18px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--surfacesecondary);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--surfacequaternary);
}

.desktop .label-wrapper {
  display: flex;
  height: 206px;
  align-items: flex-start;
  gap: 8px;
  padding: 18px 12px 18px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--surfacesecondary);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--surfacequaternary);
}

.desktop .bpm-16-osp {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-primary-medium-16-pt-font-family);
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--body-primary-medium-16-pt-font-size);
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  line-height: var(--body-primary-medium-16-pt-line-height);
  white-space: nowrap;
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .hssb-20-osp {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-secondary-semibold-20-pt-font-family);
  font-weight: var(--heading-secondary-semibold-20-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-secondary-semibold-20-pt-font-size);
  letter-spacing: var(--heading-secondary-semibold-20-pt-letter-spacing);
  line-height: var(--heading-secondary-semibold-20-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-secondary-semibold-20-pt-font-style);
}

.desktop .hssb-20-osp-about {
  position: relative;
  width: 660px;
  margin-top: -1px;
  font-family: var(--heading-secondary-semibold-20-pt-font-family);
  font-weight: var(--heading-secondary-semibold-20-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-secondary-semibold-20-pt-font-size);
  text-align: center;
  letter-spacing: var(--heading-secondary-semibold-20-pt-letter-spacing);
  line-height: var(--heading-secondary-semibold-20-pt-line-height);
  font-style: var(--heading-secondary-semibold-20-pt-font-style);
}

.desktop .bpm-16-osp-about {
  width: 660px;
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  font-size: var(--body-primary-medium-16-pt-font-size);
  line-height: var(--body-primary-medium-16-pt-line-height);
  position: relative;
  font-family: var(--body-primary-medium-16-pt-font-family);
  color: var(--onsurfaceprimary);
  text-align: center;
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .bpm-14-osp {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--button-primary-medium-14-pt-font-family);
  font-weight: var(--button-primary-medium-14-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--button-primary-medium-14-pt-font-size);
  letter-spacing: var(--button-primary-medium-14-pt-letter-spacing);
  line-height: var(--button-primary-medium-14-pt-line-height);
  white-space: nowrap;
  font-style: var(--button-primary-medium-14-pt-font-style);
}

.desktop .bpm-14-obp {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--button-primary-medium-14-pt-font-family);
  font-weight: var(--button-primary-medium-14-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--button-primary-medium-14-pt-font-size);
  letter-spacing: var(--button-primary-medium-14-pt-letter-spacing);
  line-height: var(--button-primary-medium-14-pt-line-height);
  white-space: nowrap;
  font-style: var(--button-primary-medium-14-pt-font-style);
}

.desktop .bsr-14-ost {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-secondary-regular-14-pt-font-family);
  font-weight: var(--body-secondary-regular-14-pt-font-weight);
  color: var(--onsurfacetretiary);
  font-size: var(--body-secondary-regular-14-pt-font-size);
  text-align: center;
  letter-spacing: var(--body-secondary-regular-14-pt-letter-spacing);
  line-height: var(--body-secondary-regular-14-pt-line-height);
  white-space: nowrap;
  font-style: var(--body-secondary-regular-14-pt-font-style);
}


.desktop .alt-bpm {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
}

.desktop .htsm-16-osp {
  position: relative;
  width: fit-content;
  opacity: 0.6;
  font-family: var(--heading-tretiary-semibold-16-pt-font-family);
  font-weight: var(--heading-tretiary-semibold-16-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-tretiary-semibold-16-pt-font-size);
  letter-spacing: var(--heading-tretiary-semibold-16-pt-letter-spacing);
  line-height: var(--heading-tretiary-semibold-16-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-tretiary-semibold-16-pt-font-style);
}

.desktop .magnifying-glass-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.desktop .magnifying-glass {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.desktop .hpsb-24-osp {
  position: relative;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .slogan {
  align-self: stretch;
  margin-top: -1px;
  text-align: center;
}

.desktop .topic {
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.desktop .logo-text {
  width: fit-content;
  text-align: center;
  white-space: nowrap;
}

.desktop .bsm-14-obp {
  position: relative;
  width: fit-content;
  font-family: var(--body-secondary-medium-14-pt-font-family);
  font-weight: var(--body-secondary-medium-14-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--body-secondary-medium-14-pt-font-size);
  letter-spacing: var(--body-secondary-medium-14-pt-letter-spacing);
  line-height: var(--body-secondary-medium-14-pt-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--body-secondary-medium-14-pt-font-style);
}

.desktop .hpsb-24-obp {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .hssb-20-obp {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-secondary-semibold-20-pt-font-family);
  font-weight: var(--heading-secondary-semibold-20-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-secondary-semibold-20-pt-font-size);
  letter-spacing: var(--heading-secondary-semibold-20-pt-letter-spacing);
  line-height: var(--heading-secondary-semibold-20-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-secondary-semibold-20-pt-font-style);
}

.desktop .bsm-14-osp {
  position: relative;
  width: fit-content;
  font-family: var(--body-secondary-medium-14-pt-font-family);
  font-weight: var(--body-secondary-medium-14-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--body-secondary-medium-14-pt-font-size);
  letter-spacing: var(--body-secondary-medium-14-pt-letter-spacing);
  line-height: var(--body-secondary-medium-14-pt-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--body-secondary-medium-14-pt-font-style);
}

.desktop .about-text-block {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .wn {
  margin-top: -1px;
}

.desktop .cpm-12-ost {
  position: relative;
  width: 256px;
  font-family: var(--caption-primary-medium-12-pt-font-family);
  font-weight: var(--caption-primary-medium-12-pt-font-weight);
  color: var(--onsurfacetretiary);
  font-size: var(--caption-primary-medium-12-pt-font-size);
  letter-spacing: var(--caption-primary-medium-12-pt-letter-spacing);
  line-height: var(--caption-primary-medium-12-pt-line-height);
  font-style: var(--caption-primary-medium-12-pt-font-style);
}

.desktop .cpm-12-osp {
  position: relative;
  width: fit-content;
  font-family: var(--caption-primary-medium-12-pt-font-family);
  font-weight: var(--caption-primary-medium-12-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--caption-primary-medium-12-pt-font-size);
  text-align: center;
  letter-spacing: var(--caption-primary-medium-12-pt-letter-spacing);
  line-height: var(--caption-primary-medium-12-pt-line-height);
  white-space: nowrap;
  font-style: var(--caption-primary-medium-12-pt-font-style);
}

.desktop .active
{
  display: flex;
}
