:root {
  --backgroundbackground: rgba(255, 255, 255, 1);
  --surfaceprimary: rgba(246, 246, 246, 1);
  --surfacesecondary: rgba(255, 255, 255, 1);
  --surfacetretiary: rgba(233, 233, 233, 1);
  --surfacequaternary: rgba(202, 202, 202, 1);
  --surfacequinary: rgba(121, 120, 120, 1);
  --brandprimary: rgba(139, 107, 212, 1);
  --brandsecondary: rgba(114, 80, 191, 1);
  --brandtretiary: rgba(167, 143, 225, 1);
  --brandquaternary: rgba(238, 229, 255, 1);
  --branddark: rgba(28, 37, 65, 1);
  --onsurfaceprimary: rgba(28, 37, 65, 1);
  --onsurfacesecondary: rgba(28, 37, 65, 0.8);
  --onsurfacetretiary: rgba(28, 37, 65, 0.5);
  --onsurfacequaternary: rgba(28, 37, 65, 0.3);
  --onsurfacequinary: rgba(28, 37, 65, 0.05);
  --onbrandprimary: rgba(255, 255, 255, 1);
  --onbrandsecondary: rgba(255, 255, 255, 0.8);
  --onbrandtretiary: rgba(255, 255, 255, 0.5);
  --functionalsuccessprimary: rgba(61, 175, 119, 1);
  --functionalsuccesssecondary: rgba(61, 175, 119, 0.7);
  --functionalsuccesstretiary: rgba(61, 175, 119, 0.3);
  --functionalwarningprimary: rgba(255, 201, 64, 1);
  --functionalwarningsecondary: rgba(231, 192, 53, 1);
  --functionalwarningtretiary: rgba(255, 220, 180, 1);
  --functionalerrorprimary: rgba(255, 64, 64, 1);
  --functionalerrorsecondary: rgba(231, 53, 53, 1);
  --functionalerrortretiary: rgba(255, 180, 180, 1);
  --heading-primary-semibold-24-pt-font-family: "IBMPlex Sans-SemiBold", Helvetica;
  --heading-primary-semibold-24-pt-font-weight: 600;
  --heading-primary-semibold-24-pt-font-size: 24px;
  --heading-primary-semibold-24-pt-letter-spacing: 0px;
  --heading-primary-semibold-24-pt-line-height: 28px;
  --heading-primary-semibold-24-pt-font-style: normal;
  --heading-primary-medium-24-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --heading-primary-medium-24-pt-font-weight: 500;
  --heading-primary-medium-24-pt-font-size: 24px;
  --heading-primary-medium-24-pt-letter-spacing: 0px;
  --heading-primary-medium-24-pt-line-height: 28px;
  --heading-primary-medium-24-pt-font-style: normal;
  --heading-secondary-semibold-20-pt-font-family: "IBMPlex Sans-SemiBold", Helvetica;
  --heading-secondary-semibold-20-pt-font-weight: 600;
  --heading-secondary-semibold-20-pt-font-size: 20px;
  --heading-secondary-semibold-20-pt-letter-spacing: 0px;
  --heading-secondary-semibold-20-pt-line-height: 24px;
  --heading-secondary-semibold-20-pt-font-style: normal;
  --heading-secondary-medium-20-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --heading-secondary-medium-20-pt-font-weight: 500;
  --heading-secondary-medium-20-pt-font-size: 20px;
  --heading-secondary-medium-20-pt-letter-spacing: 0px;
  --heading-secondary-medium-20-pt-line-height: 24px;
  --heading-secondary-medium-20-pt-font-style: normal;
  --heading-tretiary-semibold-16-pt-font-family: "IBMPlex Sans-SemiBold", Helvetica;
  --heading-tretiary-semibold-16-pt-font-weight: 600;
  --heading-tretiary-semibold-16-pt-font-size: 16px;
  --heading-tretiary-semibold-16-pt-letter-spacing: 0px;
  --heading-tretiary-semibold-16-pt-line-height: 20px;
  --heading-tretiary-semibold-16-pt-font-style: normal;
  --heading-tretiary-medium-16-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --heading-tretiary-medium-16-pt-font-weight: 500;
  --heading-tretiary-medium-16-pt-font-size: 16px;
  --heading-tretiary-medium-16-pt-letter-spacing: 0px;
  --heading-tretiary-medium-16-pt-line-height: 20px;
  --heading-tretiary-medium-16-pt-font-style: normal;
  --body-primary-medium-16-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --body-primary-medium-16-pt-font-weight: 500;
  --body-primary-medium-16-pt-font-size: 16px;
  --body-primary-medium-16-pt-letter-spacing: 0px;
  --body-primary-medium-16-pt-line-height: 18px;
  --body-primary-medium-16-pt-font-style: normal;
  --body-primary-regular-16-pt-font-family: "IBMPlex Sans-Regular", Helvetica;
  --body-primary-regular-16-pt-font-weight: 400;
  --body-primary-regular-16-pt-font-size: 16px;
  --body-primary-regular-16-pt-letter-spacing: 0px;
  --body-primary-regular-16-pt-line-height: 18px;
  --body-primary-regular-16-pt-font-style: normal;
  --body-secondary-medium-14-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --body-secondary-medium-14-pt-font-weight: 500;
  --body-secondary-medium-14-pt-font-size: 14px;
  --body-secondary-medium-14-pt-letter-spacing: 0px;
  --body-secondary-medium-14-pt-line-height: 16px;
  --body-secondary-medium-14-pt-font-style: normal;
  --body-secondary-regular-14-pt-font-family: "IBMPlex Sans-Regular", Helvetica;
  --body-secondary-regular-14-pt-font-weight: 400;
  --body-secondary-regular-14-pt-font-size: 14px;
  --body-secondary-regular-14-pt-letter-spacing: 0px;
  --body-secondary-regular-14-pt-line-height: 16px;
  --body-secondary-regular-14-pt-font-style: normal;
  --button-primary-medium-14-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --button-primary-medium-14-pt-font-weight: 500;
  --button-primary-medium-14-pt-font-size: 14px;
  --button-primary-medium-14-pt-letter-spacing: 0px;
  --button-primary-medium-14-pt-line-height: 14px;
  --button-primary-medium-14-pt-font-style: normal;
  --button-primary-regular-14-pt-font-family: "IBMPlex Sans-Regular", Helvetica;
  --button-primary-regular-14-pt-font-weight: 400;
  --button-primary-regular-14-pt-font-size: 14px;
  --button-primary-regular-14-pt-letter-spacing: 0px;
  --button-primary-regular-14-pt-line-height: 14px;
  --button-primary-regular-14-pt-font-style: normal;
  --caption-primary-medium-12-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --caption-primary-medium-12-pt-font-weight: 500;
  --caption-primary-medium-12-pt-font-size: 12px;
  --caption-primary-medium-12-pt-letter-spacing: 0px;
  --caption-primary-medium-12-pt-line-height: 14px;
  --caption-primary-medium-12-pt-font-style: normal;
  --caption-primary-regular-12-pt-font-family: "IBMPlex Sans-Regular", Helvetica;
  --caption-primary-regular-12-pt-font-weight: 400;
  --caption-primary-regular-12-pt-font-size: 12px;
  --caption-primary-regular-12-pt-letter-spacing: 0px;
  --caption-primary-regular-12-pt-line-height: 14px;
  --caption-primary-regular-12-pt-font-style: normal;
  --caption-secondary-medium-11-pt-font-family: "IBMPlex Sans-Medium", Helvetica;
  --caption-secondary-medium-11-pt-font-weight: 500;
  --caption-secondary-medium-11-pt-font-size: 11px;
  --caption-secondary-medium-11-pt-letter-spacing: 0px;
  --caption-secondary-medium-11-pt-line-height: 13px;
  --caption-secondary-medium-11-pt-font-style: normal;
  --caption-secondary-regular-11-pt-font-family: "IBMPlex Sans-Regular", Helvetica;
  --caption-secondary-regular-11-pt-font-weight: 400;
  --caption-secondary-regular-11-pt-font-size: 11px;
  --caption-secondary-regular-11-pt-letter-spacing: 0px;
  --caption-secondary-regular-11-pt-line-height: 13px;
  --caption-secondary-regular-11-pt-font-style: normal;
}
