.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2673px;
  position: relative;
}

.desktop .main-area {
  display: flex;
  flex-direction: column;
  width: 1220px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 196px;
  padding: 196px 0px 0px;
  position: absolute;
  top: 80px;
  left: 110px;
}

.desktop .intro {
  display: flex;
  align-items: center;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text {
  display: flex;
  flex-direction: column;
  width: 452px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.desktop .p {
  position: relative;
  align-self: stretch;
  font-family: var(--body-primary-medium-16-pt-font-family);
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  color: var(--onsurfacesecondary);
  font-size: var(--body-primary-medium-16-pt-font-size);
  text-align: center;
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  line-height: var(--body-primary-medium-16-pt-line-height);
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .button-large {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: var(--brandprimary);
  border-radius: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.desktop .content {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-secondary-medium-20-pt-font-family);
  font-weight: var(--heading-secondary-medium-20-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-secondary-medium-20-pt-font-size);
  letter-spacing: var(--heading-secondary-medium-20-pt-letter-spacing);
  line-height: var(--heading-secondary-medium-20-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-medium-20-pt-font-style);
}

.desktop .banner {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 298px;
  object-fit: cover;
}

.desktop .news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .header {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .news-list {
  display: flex;
  flex-wrap: wrap;
  width: 1220px;
  align-items: flex-start;
  gap: 16px 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .main-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .big-news {
  display: flex;
  flex-direction: column;
  width: 808px;
  height: 480px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url(./img/big-news.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .merger {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 480px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.desktop .medium-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url(./img/medium-news.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .small-news {
  display: flex;
  flex-direction: column;
  height: 128px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--surfacesecondary);
  border-radius: 8px;
  overflow: hidden;
}

.desktop .line {
  position: relative;
  width: 1px;
  height: 128px;
  object-fit: cover;
}

.desktop .button-large-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--onsurfacequinary);
  border-radius: 8px;
}

.desktop .content-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-secondary-medium-20-pt-font-family);
  font-weight: var(--heading-secondary-medium-20-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-secondary-medium-20-pt-font-size);
  letter-spacing: var(--heading-secondary-medium-20-pt-letter-spacing);
  line-height: var(--heading-secondary-medium-20-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-medium-20-pt-font-style);
}

.desktop .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .achievements {
  position: relative;
  width: 599px;
  height: 276px;
}

.desktop .img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.desktop .frame-2 {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 25px;
  left: 439px;
}

.desktop .frame-3 {
  position: absolute;
  width: 216px;
  height: 216px;
  top: 60px;
  left: 200px;
}

.desktop .frame-4 {
  display: flex;
  flex-direction: column;
  width: 452px;
  align-items: center;
  gap: 12px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.desktop .footer {
  display: flex;
  width: 1440px;
  height: 120px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 110px;
  position: absolute;
  top: 2553px;
  left: 0;
  background-color: #eee5ff;
}

.desktop .footer-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .merger-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group {
  position: relative;
  width: 31.45px;
  height: 33.34px;
  margin-top: -0.34px;
  margin-bottom: -1px;
  margin-left: -1px;
}

.desktop .needed {
  display: inline-flex;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .social {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-compact {
  position: relative;
  flex: 0 0 auto;
}

.desktop .img-wrapper {
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.desktop .img-2 {
  position: relative;
  width: 28px;
  height: 28px;
}

.desktop .header-2 {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 18px 110px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgroundbackground);
  border-radius: 0px 0px 4px 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--surfaceprimary);
}

.desktop .logo-2 {
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
}

.desktop .navigation {
  display: inline-flex;
  align-items: center;
  gap: 64px;
  padding: 0px 12px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button-medium {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.desktop .content-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-primary-medium-16-pt-font-family);
  font-weight: var(--body-primary-medium-16-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--body-primary-medium-16-pt-font-size);
  letter-spacing: var(--body-primary-medium-16-pt-letter-spacing);
  line-height: var(--body-primary-medium-16-pt-line-height);
  white-space: nowrap;
  font-style: var(--body-primary-medium-16-pt-font-style);
}

.desktop .magnifying-glass-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.desktop .magnifying-glass {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.desktop .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  text-align: center;
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: #1e1e1e;
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--body-secondary-medium-14-pt-font-family);
  font-weight: var(--body-secondary-medium-14-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--body-secondary-medium-14-pt-font-size);
  letter-spacing: var(--body-secondary-medium-14-pt-letter-spacing);
  line-height: var(--body-secondary-medium-14-pt-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--body-secondary-medium-14-pt-font-style);
}

.desktop .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-secondary-semibold-20-pt-font-family);
  font-weight: var(--heading-secondary-semibold-20-pt-font-weight);
  color: var(--onbrandprimary);
  font-size: var(--heading-secondary-semibold-20-pt-font-size);
  letter-spacing: var(--heading-secondary-semibold-20-pt-letter-spacing);
  line-height: var(--heading-secondary-semibold-20-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-secondary-semibold-20-pt-font-style);
}

.desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--body-secondary-medium-14-pt-font-family);
  font-weight: var(--body-secondary-medium-14-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--body-secondary-medium-14-pt-font-size);
  letter-spacing: var(--body-secondary-medium-14-pt-letter-spacing);
  line-height: var(--body-secondary-medium-14-pt-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--body-secondary-medium-14-pt-font-style);
}

.desktop .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-secondary-semibold-20-pt-font-family);
  font-weight: var(--heading-secondary-semibold-20-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-secondary-semibold-20-pt-font-size);
  letter-spacing: var(--heading-secondary-semibold-20-pt-letter-spacing);
  line-height: var(--heading-secondary-semibold-20-pt-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-style: var(--heading-secondary-semibold-20-pt-font-style);
}

.desktop .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-primary-semibold-24-pt-font-family);
  font-weight: var(--heading-primary-semibold-24-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--heading-primary-semibold-24-pt-font-size);
  text-align: center;
  letter-spacing: var(--heading-primary-semibold-24-pt-letter-spacing);
  line-height: var(--heading-primary-semibold-24-pt-line-height);
  white-space: nowrap;
  font-style: var(--heading-primary-semibold-24-pt-font-style);
}

.desktop .text-wrapper-9 {
  position: relative;
  width: 256px;
  font-family: var(--caption-primary-medium-12-pt-font-family);
  font-weight: var(--caption-primary-medium-12-pt-font-weight);
  color: var(--onsurfacetretiary);
  font-size: var(--caption-primary-medium-12-pt-font-size);
  letter-spacing: var(--caption-primary-medium-12-pt-letter-spacing);
  line-height: var(--caption-primary-medium-12-pt-line-height);
  font-style: var(--caption-primary-medium-12-pt-font-style);
}

.desktop .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: var(--caption-primary-medium-12-pt-font-family);
  font-weight: var(--caption-primary-medium-12-pt-font-weight);
  color: var(--onsurfaceprimary);
  font-size: var(--caption-primary-medium-12-pt-font-size);
  text-align: center;
  letter-spacing: var(--caption-primary-medium-12-pt-letter-spacing);
  line-height: var(--caption-primary-medium-12-pt-line-height);
  white-space: nowrap;
  font-style: var(--caption-primary-medium-12-pt-font-style);
}